<section class="main-container">
  <div class="bg">
    <div class="toran"></div>
    <div class="header space"></div>
    <div class="sub-header space">
      <div class="corner right"></div>
      <div class="middle"></div>
      <div class="corner left"></div>
    </div>
    <div class="main-logo space"></div>
    <div class="main-heading space"></div>

    <div class="facility space">
      <div class="l1"></div>
      <div class="l2"></div>
      <div class="l3"></div>
      <div class="l4"></div>
    </div>

    <div class="facility2 space">
      <div class="l1"></div>
      <div class="l2"></div>
      <div class="l3"></div>
    </div>

    <div class="facility3 space">
      <div class="f1">
      </div>
      <div class="f2"></div>
    </div>

    <!-- <div class="footer">
      <div class="online" style="display: flex; gap: 1rem;">
        <div class="visit-us">
        </div>
        <div class="fb"></div>
        <div class="yt"></div>
        <div class="insta"></div>
        <div class="mv"></div>
      </div>
      <div class="scanner">
        <span class="s1"></span>
        <span class="s2"></span>
        <span class="s2"></span>
      </div>
    </div> -->
  </div>
</section>
